/* =============
    index
============= */
#index-left{
    // love // hate
    a:link, a:visted{
        color: var(--darkseagreen);
        text-decoration: none;
    }

    a:hover, a:active {
        color: green;
    }

    //
}