/* =============
    Footer
============= */
footer{
    background-color: var(--charcoal);
    
    padding: 24px;

    #footer-bottom{
        text-align: center;
        background-color: var(--charcoal);
       h2{
        font-size: rem-calc(16);
       }
    }

    #footer-validator{
        margin-top: 26px;
        text-align: center;
        // align-items: center;
    }
   
}



