/* =============
    Footer
============= */
footer{
    background-color: var(--charcoal);
    #footer-bottom{
        background-color: var(--charcoal);
        grid-template-areas: 
        "fb fb";

        @include md{
            grid-area: fb;
        } 
    }
    padding: 24px;
}



