/* =============
    Header
============= */
header{
    padding: 48px 0;
    display: grid;
    grid-template-areas: 
        "burger"
        "nav";
    padding: 16px;
    position: fixed;
    width: 100%;
  
    box-sizing: border-box;
  
    top: 0;
    left: 0;
    text-align: center;
    background-color: var(--white);
    h1{
        font-size: 25px;
    }

    @include lg{
        grid-template-areas: "nav";
        padding-bottom: 0;
    }
#burger-container{
    grid-area: burger;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--darkseagreen);
    padding: 16px 0;

    @include lg{
        display: none;
    }

    button{
        border: none;
        background-color: transparent;
        color: black;
        font-size: rem-calc(16);
        cursor: pointer;
        font-weight: 600;

        i{
            padding-right: 8px;
        }
    }
}

    a:link, a:visited{
        color: var(--black);
        transition: 0.25s;
        text-decoration: none;
        font-family: 'PT Sans', sans-serif;
        font-weight: 300;
        // font-size: 36px;
        font-size: rem-calc(36);
        letter-spacing: rem-calc(2)


    }
    a:hover, a:active{
        color: var(--darkseagreen)
    } 

    p{
        font-size: rem-calc(16);
        font-weight: 200;
        margin-top: 8px;
        letter-spacing: rem-calc(1);
        color: var(--charcoal);
        padding-bottom: 30px;
    }

    nav{
        grid-area: nav;
    }
}