/* =============
    Navigation
============= */
     // sea green / dark green link
    // love // hate
.SeaGreenLink:link, .SeaGreenLink:visted{
    color: var(--darkseagreen);
    text-decoration: none;
}

.DarkGreenLink:hover, .DarkGreenLink:active{
    color: #008B8B;
}

html{
    scroll-behavior: smooth;
}

.show-menu{
    display: block !important;
}

nav{
    background-color: var(--darkseagreen);
    display: none;
    @include lg {
        display: block;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    ul{
        @include lg{
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            padding: 16px;
            border-bottom: 2px solid #008B8B;
        }
        li{ padding: 0 0 24px 24px;
            text-align: left;
            margin-bottom: 16px;
            @include lg{
                padding: 0;
            }
            a:link, a:visited{
                font-size: rem-calc(16);
                font-weight: 400;
                &:hover, &:active{

                }
            }
           
        }
    }
}