/* =============
    Base
============= */
body{
    background-color: var(--gray);

}

p{
    padding: 0;
    margin: 0;
}
    ul{
   padding: 0;
   margin: 0;
        li{
            list-style: none;
            padding: 0;
            margin: 0;
        };
}

.content-grid{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". content .";
    
    @include xl {
        grid-template-columns: auto 1200px auto;
    }

    .content-grid-item{
        background-color: var(--white);
        grid-area: content;
    }
}
#main-content-grid {
    margin-top: 200px;
    @include lg{
        display: grid;
        grid-template-columns: 60% auto;
        gap: 24px;
    }
    @include xl {
        grid-template-columns: 70% auto;
    }
    @include xxl{
        grid-template-columns: 75% auto;
    }
    // img{
    //     margin-top: -50px;
    //     width: 150px;
    // }
    h1{
        padding-bottom: 16px;
        margin-top: 16px;
        font-size: rem-calc(10);
        letter-spacing: (2);
    }
    h2{
        padding-bottom: 16px;
        margin-top: 16px;
        font-size: rem-calc(14);
        letter-spacing: (2);
    }
    p{
        line-height: 1.5;
    }
}

#profile-pic{
    background-image: url("../img/profile.png");
    background-size: cover;
    background-position: center;
    width: 200px;
    border-radius: 100%;
    height: 200px;
    border: 1px solid darkseagreen;
    margin: -65px auto 0;
}

#main-content-right{
    border: 1px solid var(--gray);
    margin: 150px 16px 16px;
    padding: 16px;
    text-align: center;
    font-size: rem-calc(14);
}

.social-icons{
    display: flex;
    justify-content: center;
    margin-top: 16px;

    li{
        margin: 0 16px;
        // love // hate
        a:link, a:visited{
            color: var(--black);
            text-decoration: none;
            font-size: rem-calc(20);
        }
        a:hover, a:active{
            color: var(--darkseagreen);
        }
    }
}
